/* select { */
    /* height: 2%; */
    /* padding: 0.4%;
    color: black;
    cursor: pointer;
    background: white;
    width:60%;  
    border-radius:20px;
    font-size: 20px;
  } */

  /* input:not([type='checkbox']) {
    height: 2%;
    padding: 0.4%;
    border-radius:20px;
    font-size: 20px;
    width:60%;
    outline: none;
    word-spacing: 5px;
    word-wrap: normal;
    border-style: hidden;
    color:black;
  } */

/* *{ */
  /* overflow: hidden; */
  /* margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

label{
  font-size: 15pt;
}

input[type='checkbox'] {
  padding: 0.4%;
  border-radius:20px;
  font-size: 20px;
  width:60%;
  outline: none;
  word-spacing: 5px;
  word-wrap: normal;
  border-style: hidden;
  color:black;
} */
