.smart{
	color:#052c39;
	font-size:40pt;
	font-weight: bold;
}
.cheque{
	color:white;
	font-size:40pt;
	font-weight: lighter;
    font-style: normal;
}
.welcome{
	color:white;
	margin-top:2%;
	padding-top:2%;
	font-size: 17.5pt;
}
.title{
	padding: 0%;
	margin-top: 0%;
}
