.topnav {
  overflow: hidden;
  background-color: #0f4d6a;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5% 2%;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

a.logout {
  margin-right: 0%;
  float: right;
}