table{
border:1px solid white;
table-layout: auto; 
border-spacing: 0;
border-collapse: collapse;
width:100%;
color:white;
border-radius: 20px;
height: auto;
}
th,td {
    border: 1px solid white;
    text-align: center;
    font-size: 28pt;
  }
  tr,td:nth-child(3){
    text-align: right;
    font-size: 10pt;
  }
  tr,td:nth-child(4){
    text-align: right;
    font-size: 10pt;
  }
  tr:nth-child(even) {background-color: #136699;}
  
.pending{
    font-weight: bold;
    color: white;
    font-size: 20pt;
}
