.filter-card{
    font-size: 15pt;
    border-radius:10px;
    background-color:#052c39;
    padding:0% 0% 2% 2% ;
    margin: 10px;
    color:white;
   
    text-align: left;
}
.date-input{
    width:20% !important;
    margin-left:2%;
    margin-top: 1%;
    color:black
}
th,td{
    font-weight: normal;
    font-size: 9.72pt;
}
@media screen and (max-width:480px){
    .filter-card{
        margin-right: 2px;
    }

}