@import "variable";
@import "react-minimal-side-navigation/lib/ReactMinimalSideNavigation.css";
@import "react-perfect-scrollbar/dist/css/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

//---------------------------------------------------------//
// color variable change to theme change
//----------------------------------------------------------//
$primary: #13669a; //Any dark color only
$light: #f3f7fa; //Any light color only

.btn:focus,
.btn.active,
.btn:active {
  @include box-shadow(none);
}
body {
  background: $light;
  font-family: "Josefin Sans", sans-serif;
}
.text-primary {
  color: $primary !important;
}
.btn-primary {
  background: $primary;
  border-color: $primary;
  @include border-radius(8px);
  font-size: 14px;
  padding: 4px 10px;
  &:focus,
  &:active,
  &.active {
    background: $primary;
    border-color: $primary;
  }
  &:hover {
    opacity: 0.8;
    background: $primary;
    border-color: $primary;
  }
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  &:hover {
    opacity: 0.8;
    background: $primary;
    border-color: $primary;
  }
}
.TM_LoginPage {
  min-height: 100vh;
  background: $white;
  padding: 0 0 30px;
}
footer {
  background: $white;
  padding: 10px 15px;
}
header {
  background: $white;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 33;
  transition: all 0.1s ease-in-out;
}
.TM_main {
  height: 100vh;
}
.TM_sidebar {
  background: $white;
  width: 265px;
  transition: all 0.1s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin-left: -265px;
  .TM_logo {
    padding: 15px 30px 15px 22px;
  }
}
.TM_logo {
  img {
    width: 160px;
  }
}
.TM_mainContentWidthHeader {
  width: 100%;
  padding-top: 70px;
  transition: all 0.1s ease-in-out;
}
.TM_mainContent {
  min-height: calc(100vh - 114px);
  padding: 20px 20px 40px;
  position: relative;
}
.TM_sidebarOpen {
  .TM_sidebar {
    margin-left: 0;
  }
  header {
    left: 0;
    width: 100%;
  }
  .TM_mainContentWidthHeader {
    padding-left: 0;
  }
}
.TM_sidebarBTN {
  svg {
    width: 30px;
    height: 30px;
  }
}
.iconColor {
  fill: $primary;
}
.iconStrokeColor {
  stroke: $primary;
}
.side-navigation-panel-select-option,
.side-navigation-panel-select-inner,
.side-navigation-panel-select-inner-option {
  border: none;
  color: $primary;

  span.side-navigation-panel-select-option-text,
  .side-navigation-panel-select-inner-option-text {
    opacity: 0.7 !important;
    color: $primary;
    font-size: 18px !important;
  }
}
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option-selected,
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option-selected,
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-wrap
  .side-navigation-panel-select-option:hover,
.side-navigation-panel
  .side-navigation-panel-select
  .side-navigation-panel-select-inner
  .side-navigation-panel-select-inner-wrap
  .side-navigation-panel-select-inner-option:hover {
  border: none;
  background: $light;
  color: $primary;

  span.side-navigation-panel-select-option-text,
  .side-navigation-panel-select-inner-option-text {
    opacity: 1 !important;
  }
}

#TM_dropdownUser {
  width: 35px;
  height: 35px;
  @include border-radius(10px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent;
  border: 1px solid #d2d2d2;
}
#TM_dropdownNotification {
  color: $dark;
  height: 35px;
  width: 35px;
  margin-right: 20px;
  padding: 0;
  svg {
    width: 35px;
    height: 35px;
  }
  &:hover {
    #vuesax_bold_notification,
    .iconStrokeColor {
      opacity: 1;
    }
  }
  & + .TM_headerDropDown {
    width: 250px;
  }
  &:after {
    content: none;
  }
}
.TM_headerDropDown {
  @extend .shadow;
  border: none;
  a {
    border-bottom: 1px solid #dbdbdb;
    white-space: normal;
    &:last-child {
      border: none;
    }
  }
}
#TM_new {
  display: flex;
  align-items: center;
  margin-right: 100px;
  padding: 6px 12px;
  &::after {
    display: none;
  }
}
.searchHdr {
  padding-right: 20px;
  width: 100%;
  position: relative;
  .btn {
    position: absolute;
    left: 24px;
    top: 4px;
  }
  input {
    @include border-radius(10px);
    width: 100%;
    border: none;
    border: 1px solid rgba($primary, 0.05);
    font-size: 16px;
    color: $primary;
    padding: 5px 15px 4px 60px;
    &:focus {
      outline: none;
      border: 1px solid $primary;
    }
  }
}
.helpMain {
  position: fixed;
  right: -250px;
  top: 0;
  bottom: 0;
  background: $white;
  z-index: 22;
  width: 250px;
  padding-top: 70px;
  transition: all 0.1s ease-in-out;
  .btnHelp {
    position: absolute;
    top: 90px;
    right: 100%;
    line-height: 16px;
    border-radius: 10px 0 0 10px;
    padding: 10px;

    border: none;
    svg {
      width: 70px;
      height: 32px;
    }
  }
}
.backIcon {
  position: absolute;
  left: 0;
  top: 10px;
}

@media screen and (max-width: 991px) {
  .backIcon {
    left: -8px;
    top: 8px;
  }
  .helpMain .btnHelp {
    top: 80px;
  }
  // .searchHdr input {
  //   padding: 18px 15px 18px 60px;
  // }

  .searchHdr {
    position: absolute;
    right: 0;
    top: 50px;
    background: #fff;
    @include border-radius(10px);
    padding: 10px;
    width: 300px;
    max-width: 300px;
    .btn {
      // left: 25px;
      top: 13px;
    }
  }
  .TM_logo {
    padding: 0;
    border: 0;
  }
  .TM_sidebar {
    margin-left: -265px;
  }
  .TM_mainContentWidthHeader {
    width: 100%;
    padding-left: 0;
  }
  .TM_sidebarOpen {
    .TM_sidebar {
      margin-left: 0;
    }
  }
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  header {
    padding: 10px 0;
    left: 0;
    width: 100%;
    .container,
    .container-fluid {
      padding: 0 15px !important;
    }

    .navbar-nav {
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 10px;
      .dropdown-menu {
        position: absolute;
      }
    }
  }
  .TM_mainContent {
    min-height: calc(100vh - 96px);
    padding: 20px 20px 20px;
  }
  footer {
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .TM_mainContent {
    min-height: calc(100vh - 96px);
    padding: 20px 0 20px;
  }
}
/*------------------------------------------------------*/
.form-group {
  margin-bottom: 0.6rem;
}
label {
  margin-bottom: 0.2rem;
}
.WhiteShadowCard {
  @include box-shadow(0 0 16px rgba($primary, 0.05));
  background: $white;
  @include border-radius(10px);
}
.p-30px {
  padding: 20px;
}
.form-control {
  background: $light;
  border: none;
  height: 30px;
  color: $primary;
  padding: 7px 8px;
  @include border-radius(10px);
  font-size: 12px;
  &:focus {
    @include box-shadow(none);
    outline: none;
    background: $light;
  }
}

.searchBox {
  background-color: none !important;
}
span {
  &.status {
    position: absolute;
    right: -25px;
    top: 7px;
    padding: 0;
    width: 50px;
    font-size: 13px;
    text-transform: capitalize;
    &.dr {
      color: $danger;
    }
    &.cr {
      color: $success;
    }
  }
}
.conpanyLogo {
  border: 2px solid rgba($primary, 0.05);
  @include border-radius(10px);
  overflow: hidden;
  width: 66px;
  height: 66px;
  img {
    max-width: 100%;
    height: 100%;
  }
}

.fileInput {
  position: relative;
  background: $light;
  border: 2px solid rgba($primary, 0.05);
  @include border-radius(8px);
  color: $primary;
  width: 110px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.tableHDR {
  background: $light;
  @include border-radius(10px);
  padding: 8px 20px;
}
.borderBox {
  @include border-radius(10px);
  border: 2px solid rgba($primary, 0.05);
  margin-top: 20px;

  .close-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    border: 1px solid #343198;
    color: red;
    border-radius: 50%;
    right: -25px;
    top: 7px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 17px;
      font-weight: 700;
      line-height: 0;
    }
  }
}
.border-top,
.border-bottom,
.border-left,
.border-right {
  border-color: rgba($primary, 0.05) !important;
}
%color3btn {
  width: 70px;
  height: 30px;
  line-height: 28px;
  font-size: 13px;
  @include border-radius(8px);
  border: 1px solid;
}
.ok-btn {
  @extend %color3btn;
  background: rgba($primary, 0.05);
  border-color: rgba($primary, 0.1);
  color: $primary;
  &:hover {
    @extend .shadow;
  }
}
.add-btn {
  @extend %color3btn;
  background: rgba($success, 0.05);
  border-color: rgba($success, 0.1);
  color: $success;
  &:hover {
    @extend .shadow;
  }
}
.delete-btn {
  @extend %color3btn;
  background: rgba($danger, 0.05);
  border-color: rgba($danger, 0.1);
  color: $danger;
  &:hover {
    @extend .shadow;
  }
}
.react-datepicker-wrapper {
  width: 100%;
}
.table {
  border-collapse: collapse;
  thead {
    th {
      color: rgba($primary, 0.4);
      border: none !important;
      background: $light;
      &:first-child {
        @include border-radius(10px 0 0 10px);
      }
      &:last-child {
        @include border-radius(0 10px 10px 0);
      }
    }
  }
  td {
    border-top: none;
    border-bottom: 1px solid rgba($primary, 0.1) !important;
    color: $primary;
    font-size: 14px;
    white-space: nowrap;
  }
}
.table-hover tbody tr:hover {
  color: rgba($primary, 0.4);
  background: $light;
}
.rowCol {
  .row {
    margin: 0 -5px;
    [class*="col-"] {
      padding: 0 5px;
    }
  }
}
.customContainer {
  margin: 0 auto;
  width: 90%;
}
.cameraContainer {
  margin: 0 auto;
  width: 50%;
}
hr {
  border-color: rgba($primary, 0.1);
  border-width: 2px;
}
.card {
  @include border-radius(20px);
  border: 2px solid rgba($primary, 0.1);
}
.min-height-300px {
  min-height: 300px;
}
@media screen and (min-width: 1200px) {
  .w-1366.col-xl-8 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .w-1366.col-xl-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.table thead th {
  padding: 8px 0.75rem;
  font-size: 12px;
}
.logoicon {
  position: relative;
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    display: block;
    background: rgba($primary, 0.3);
    @include border-radius(15px);
    position: absolute;
    top: 10px;
    left: calc(50% - 40px);
    filter: blur(15px);
  }
}
.loginCard {
  max-width: 420px;
  margin: 0 auto;
  input.form-control {
    height: 40px;
    padding-left: 40px;
    border: 2px solid transparent;
    & + svg {
      opacity: 0.4;
      position: absolute;
      top: 9px;
      left: 10px;
    }
    &:focus {
      border: 2px solid $primary;
      @include box-shadow(0 0 16px rgba($primary, 0.15));
      background: $white;
      & + svg {
        opacity: 1;
      }
    }
  }
}
#Component_9_2:hover {
  #Contact,
  #Path_1155 {
    fill: $primary;
    opacity: 1;
  }
}
.showPassword {
  position: absolute;
  top: 7px;
  right: 10px;
  color: $primary;
}
button.close {
  font-weight: 200;
  font-size: 50px;
  line-height: 50px;
  height: 40px;
  padding: 0 10px !important;
  display: flex;
  align-items: center;
  span {
    height: 50px;
    line-height: 40px;
  }
}
.modal-content {
  @include border-radius(15px);
  border: none;
}
.Toastify__toast--success {
  background: #eefcf5;
  border: 2px solid #d6f0e2;
  @include border-radius(15px);
  @include box-shadow(none);
  font-family: "Josefin Sans", sans-serif;
}
.Toastify__toast--warning {
  background: #fffbf2;
  border: 2px solid #fff3d9;
  @include border-radius(15px);
  @include box-shadow(none);
  font-family: "Josefin Sans", sans-serif;
}
.Toastify__toast--error {
  background: #fcf3f3;
  border: 2px solid #f6dcdc;
  @include border-radius(15px);
  @include box-shadow(none);
  font-family: "Josefin Sans", sans-serif;
}
.Toastify__close-button {
  color: rgba($dark, 0.2);
  position: absolute;
  right: 15px;
  top: 15px;
}
@media screen and (max-width: 767px) {
  .logodds {
    width: 40px;
    overflow: hidden;
  }
}
.dashTable {
  margin: 0;
  thead {
    th {
      &:first-child {
        @include border-radius(10px 0 0 0);
      }
      &:last-child {
        @include border-radius(0 10px 0 0);
      }
    }
  }

  td {
    &:first-child {
      border-left: 2px solid $light;
    }
    &:last-child {
      border-right: 2px solid $light;
    }

    &:nth-child(2) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 160px;
      @media screen and (max-width: 1440px) {
        max-width: 120px;
      }
      @media screen and (max-width: 1366px) {
        max-width: 100px;
      }
      @media screen and (max-width: 1280px) {
        max-width: 90px;
      }
    }
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .dashTableMain {
    .table-responsive {
      overflow: hidden;
    }
  }
}
.borderBox {
  border: 2px solid $light;
  @include border-radius(10px);
  padding: 20px;
}
.bg-light {
  background: $light !important;
}
.apexcharts-legend-text {
  font-size: 14px !important;
  color: $primary !important;
  font-family: "Josefin Sans", sans-serif !important;
}
.apexcharts-legend-series {
  width: 100px;
}
.apexcharts-svg {
  text {
    font-size: 12px !important;
    color: $primary !important;
    font-family: "Josefin Sans", sans-serif !important;
    tspan {
      font-size: 12px !important;
      fill: $primary !important;
      font-family: "Josefin Sans", sans-serif !important;
    }
  }
}
.pdfView {
  height: 640px;
  width: 100%;
  overflow: auto;
  position: relative;
  overflow: hidden;
}
canvas {
  height: 100% !important;
}
.react-pdf__Page__annotations.annotationLayer {
  display: none;
}
.pdfnavigation {
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #ffffffa8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.position-stiky {
  position: sticky;
  top: 80px;
}
/*--------------Create Invoice-------------------*/
textarea {
  resize: none;
}
.border-0.table td {
  border-bottom: none !important;
}
.printtable {
  width: 100%;
  border: 1px solid rgba($primary, 0.1) !important;
  td,
  th {
    background: none !important;
    font-size: 12px;
    padding: 3px 3px;
    border: 1px solid rgba($primary, 0.1) !important;
    vertical-align: middle;
  }

  &.vtop {
    td {
      vertical-align: top;
    }
  }
}
.text-decoration {
  text-decoration: underline;
}
.tdPadding.table thead th,
.tdPadding.table tbody td {
  padding: 0.75rem 5px;
}
