/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
//color variable
$success: #14b74f;
$danger: #d13246;
$warning: #FFAA00;
//---------------------------------------------------------//
// breakpoint
//----------------------------------------------------------//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

@function breakpoint-next(
  $name,
  $breakpoints: $grid-breakpoints,
  $breakpoint-names: map-keys($breakpoints)
) {
  $n: index($breakpoint-names, $name);
  @return if(
    $n < length($breakpoint-names),
    nth($breakpoint-names, $n + 1),
    null
  );
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 0.02px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between(
  $lower,
  $upper,
  $breakpoints: $grid-breakpoints
) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}

//---------------------------------------------------------//
// container-width
//----------------------------------------------------------//
// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px,
) !default;
@mixin make-max-widths-container-width(
  $max-widths: $container-max-widths,
  $breakpoints: $grid-breakpoints
) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}
.container {
  @include make-max-widths-container-width();
}

//---------------------------------------------------------//
//opacity list
//----------------------------------------------------------//
$opacity: (
  10: 0.1,
  20: 0.2,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  80: 0.8,
  90: 0.9,
);

@each $name, $value in $opacity {
  .opacity-#{$name} {
    opacity: $value !important;
  }
  .hover-opacity-#{$name} {
    &.active,
    &:hover {
      opacity: $value !important;
    }
  }
}
//---------------------------------------------------------//
//Gray colors
//----------------------------------------------------------//
$gray-100: #f3f6f9 !default;
$gray-200: #ebedf3 !default;
$gray-300: #e4e6ef !default;
$gray-400: #d1d3e0 !default;
$gray-500: #b5b5c3 !default;
$gray-600: #7e8299 !default;
$gray-700: #5e6278 !default;
$gray-800: #3f4254 !default;
$gray-900: #181c32 !default;

// Gray colors list
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default; // Custom variable

@each $name, $value in $grays {
  .gray-#{$name} {
    color: $value !important;
  }
}
//---------------------------------------------------------//
// Heights & Widths
//----------------------------------------------------------//

$heights-and-widths: (
  100: 100%,
  50: 50%,
  auto: auto,
  1px: 1px,
  2px: 2px,
  3px: 3px,
  4px: 4px,
  5px: 5px,
  10px: 10px,
  15px: 15px,
  20px: 20px,
  25px: 25px,
  30px: 30px,
  35px: 35px,
  40px: 40px,
  45px: 45px,
  50px: 50px,
  55px: 55px,
  60px: 60px,
  65px: 65px,
  70px: 70px,
  75px: 75px,
  80px: 80px,
  85px: 85px,
  90px: 90px,
  95px: 95px,
  100px: 100px,
  105px: 105px,
  110px: 110px,
  115px: 115px,
  120px: 120px,
  125px: 125px,
  130px: 130px,
  135px: 135px,
  140px: 140px,
  145px: 145px,
  150px: 150px,
  175px: 175px,
  180px: 180px,
  200px: 200px,
  225px: 225px,
  250px: 250px,
  255px: 255px,
  260px: 260px,
  265px: 265px,
  275px: 275px,
  295px: 295px,
  300px: 300px,
  325px: 325px,
  350px: 350px,
  375px: 375px,
  400px: 400px,
  425px: 425px,
  450px: 450px,
  475px: 475px,
  500px: 500px,
  550px: 550px,
  600px: 600px,
  650px: 650px,
  700px: 700px,
  750px: 750px,
  800px: 800px,
  850px: 850px,
  900px: 900px,
  950px: 950px,
  1000px: 1000px,
) !default;

// Responsive widths
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $name, $value in $heights-and-widths {
      // Height
      .w#{$infix}-#{$name} {
        width: $value !important;
      }

      // Width
      .h#{$infix}-#{$name} {
        height: $value !important;
      }

      // Min width
      .min-w#{$infix}-#{$name} {
        min-width: $value !important;
      }

      // Min
      .min-h#{$infix}-#{$name} {
        min-height: $value !important;
      }

      .max-h#{$infix}-#{$name} {
        max-height: $value !important;
      }

      .max-w#{$infix}-#{$name} {
        max-width: $value !important;
      }
    }
  }
}

//---------------------------------------------------------//
// font-size
//----------------------------------------------------------//
$font-size: (
  8px: 8px,
  9px: 9px,
  10px: 10px,
  11px: 11px,
  12px: 12px,
  13px: 13px,
  14px: 14px,
  15px: 15px,
  16px: 16px,
  17px: 17px,
  18px: 18px,
  19px: 19px,
  20px: 20px,
  21px: 21px,
  22px: 22px,
  23px: 23px,
  24px: 24px,
  25px: 25px,
  26px: 26px,
  27px: 27px,
  28px: 28px,
  29px: 29px,
  30px: 30px,
  31px: 31px,
  32px: 32px,
  33px: 33px,
  34px: 34px,
  35px: 35px,
  36px: 36px,
  37px: 37px,
  38px: 38px,
  39px: 39px,
  40px: 40px,
) !default;

// Responsive widths
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $name, $value in $font-size {
      // font-size:
      .font-size#{$infix}-#{$name} {
        font-size: $value !important;
      }
    }
  }
}

//---------------------------------------------------------//
// font-weight
//----------------------------------------------------------//
$font-weight: (
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
) !default;
// Responsive widths
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $name, $value in $font-weight {
      // font-size:
      .font-weight#{$infix}-#{$name} {
        font-weight: $value !important;
      }
    }
  }
}
//---------------------------------------------------------//
// @mixin
//----------------------------------------------------------//
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin border-radius($property) {
  -webkit-border-radius: $property;
  -ms-border-radius: $property;
  border-radius: $property;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  box-shadow: $property;
}
